<div class="container">

    <div style="padding: 50px;" class="container">
        <div class="row">

            <div class="col-sm-4">
                <input ng-model="film_input" class="form-control" placeholder="Enter Film">
            </div>

            <div class="col-sm-4">
              <input ng-model="postcode_input" class="form-control" placeholder="Enter Postcode">
            </div>

            <div class="col-sm-4">
              <button ng-click="data_input()" class="btn btn-primary" style="display: block;max-width: 300px;margin: auto;">Search</button>
            </div>

        </div>
    </div>



    <div class="panel panel-default">

        <div class="panel-heading" style="background-color: #ea3057;">
            <h2>{{cinedata.film.Title}}</h2>
        </div>

        <div class="panel-body">
            <img style="float: left; width:200px; height: auto; padding: 20px;" src="{{cinedata.film.Poster}}"></img>
            <h3>{{cinedata.film.Ratings[0].Value}} </h3>
            <p><i>{{cinedata.film.Year}}</i></p>
            <p>{{cinedata.film.Director}}</p>
            <hr>
            <p>{{cinedata.film.Plot}}</p>
        </div>

    </div>

    <h2>Nearest Cinema</h2>
    <p>Location: {{cinedata.cinema.cinemas[0].name}}</p>
    <p>Distance: {{cinedata.cinema.cinemas[0].distance}}</p>

</div>
