html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #e5e5e5;
}

.jumbotron {
    background-color: white;
}

.profile {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar {
    margin-bottom: 0;
    border: none;
    background-color: #ea3057;
}

a {
    color: #ea3057;
}

.navbar-brand {
    color: white !important;
} 

.nav li a {
    color: white !important;
}

h4, p {
    color: #5b5553;
}


h2, h3 {
    color: #191919;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.skill img {
    width: 75%;
    max-height: 120px;
    object-fit: cover;
}

.list-group-item a {
    color: #ea3057;
    float: right;
}

@media only screen and (max-width: 600px) {
    .profile {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .intro h2, p {
        margin: 10px;
    }
    .intro h2 {
        text-align: center;
    }

}